/* =============================================================================
   Base
   ========================================================================== */

body { }



/* =============================================================================
   Header
   ========================================================================== */

#banner { }

/* Fixed Topbar Navigation */
body.top-navbar { padding-top: 60px; }
body.admin-bar .navbar-fixed-top { top: 28px; }



/* =============================================================================
   Content
   ========================================================================== */

#content { }



/* =============================================================================
   Primary Content
   ========================================================================== */

#main { }



/* =============================================================================
   Sidebar
   ========================================================================== */

#sidebar { }



/* =============================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry h2 a { text-decoration: none; }
.hentry time { display: block; }
.hentry p.byline { }
.hentry footer { clear: both; }



/* =============================================================================
   Post Comments
   ========================================================================== */

#comments, #respond, #submit { clear: both; display: block; }
ol.commentlist img.avatar { float: left; margin-right: 10px; }



/* =============================================================================
   Footer
   ========================================================================== */

#content-info {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #e5e5e5;
}

#content-info p small { font-size: 13px; }



/* =============================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { margin: 0 20px 20px 0; float: left; }
.alignright { margin: 0 0 20px 20px; float: right; }

figure.alignnone { margin-left: 0; margin-right: 0; }



/* =============================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 979px) {
  /* Fix top padding when using the responsive grid with the fixed topbar */
  body.top-navbar {
    padding-top: 0;
  }
}

/* =============================================================================
   UniMi Header
   ========================================================================== */
#unimi-bar, #unimi-bar a, #bottom-unimi-bar ,#bottom-unimi-bar a, #bottom-unimi-bar p small, #bottom-navbar-inner, #bottom-navbar-inner a {
    color:white;
    text-decoration:none;
}

html {font-size: 100%;}


@media (min-width: 768px) {
    div#wrap {
        background-image:url('/assets/rigato_9.png');
        background-repeat:repeat;
        background-color:#eeeeee;
        margin-top:5em;
        /*margin-top:66px;*/
    }
}
#bottom-navbar-inner p{
    line-height:40px;
    margin:0;
    margin-left:1em;
}
#unimi-name {
    width: 120px;
}
#unimi-name h3 {
    font-size: 15px;
    line-height: 18px;
    font-family:'Adobe Garamond Pro';
    margin-top: 13px;
}
#unimi-bar, #bottom-unimi-bar {
    background-color:#003366;
}
#green-bar {
    height:5px;
    background-color:#009933;
}
#darkgreen-bar {
    height:5px;
    width:222px;
    background-color:#006633;
}
#bottom-unimi-bar #content-info {
    margin-top:0px;
    padding:0px;
    line-height:40px;
    border:0px;
}
#unimi-bar div.container {
    background-image:url('/assets/logo_trasp_ok2.png');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:top center; 
}
#title h1 {
    font-size:24px;
    margin-top:3px;
}
#vertical-bar {
    width:2px;
    height:60px;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:0px;
    margin-right:10px;
    background-color:white;
}

.navbar-inner .container {
    background-color:#333333;
    box-shadow:0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);
}
@media (max-width: 979px) {
.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
    padding:0px;
}
}
div.navbar-inner {
    background-color:white;
    background-image:none;
    box-shadow:none;
    padding:0px;
}

.pad, #title h1, nav#nav-main, p.copy {
    padding-left:1em;
}
div.ngg_slideshow {
    background-color:white;
    margin-left:20px;
    padding:8px;
    padding-left:15px;
    padding-right:15px;
    height:460px;
    box-shadow:0 1px 5px rgba(0,0,0,0.25);
}
div#main {
}

#controls span { margin-right:5px }

@media (max-width: 480px) {
#title h1 {
        font-size:22px;
        line-height:24px;
    }
    #bottom-navbar-inner p, #bottom-unimi-bar p {
        line-height:15px;
    }
.ngg-widget-slideshow img {
    width:220px;
    height:220px;
}
div.ngg_slideshow {
    width:240px;
}
}

div.ngg_slideshow {
    margin-left:0px;
}

div.page-header {
border-bottom: 1px solid black;
}

